body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 3rem;
    background-color: black;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

header img {
    width: 100px;
    height: auto;
    grid-column: 1/1;

}

nav {
    font-size: 1rem;
    grid-column: 3/3;
    text-align: right;
    margin-right: 2rem;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #007bff;
}

nav a:hover {
    text-decoration: underline;
    color: #0056b3;
}

main {
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.welcome-message {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.welcome-text {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
    margin-top: 1.5rem;
    line-height: normal;
    letter-spacing: 1px;
}

.mission,
.services,
.gallery {
    margin-top: 2rem;
    text-align: center;
}

.mission h2,
.services h2,
.gallery h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
    color: #007bff;
}

.mission p,
.services p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: center;
}

/* creating an infinte marquee effect for images in a gallery section */

.gallery {
    position: relative;
    height: 100px;
    width: 90%;
    max-width: 1530px;
    border: 1px solid #ddd;
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}

@keyframes scrollleft {
    to {
        left: -200px;
    }
}

.gall {
    width: 200px;
    height: 100px;
    max-width: 300px;
    border-radius: 8px;
    position: absolute;
    left: 100%;
    animation-name: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.gall1 {
    animation-delay: calc(30s / 6 * (6 - 1) * -1);
    /* Adjust the delay for each image */
}

.gall2 {
    animation-delay: calc(30s / 6 * (6 - 2) * -1);
}

.gall3 {
    animation-delay: calc(30s / 6 * (6 - 3) * -1);
}

.gall4 {
    animation-delay: calc(30s / 6 * (6 - 4) * -1);
}

.gall5 {
    animation-delay: calc(30s / 6 * (6 - 5) * -1);
}

.gall6 {
    animation-delay: calc(30s / 6 * (6 - 6) * -1);
}